<div class="container">
<header app-header></header>
    <div class="post-content">
        <h4>{{post?.title}}</h4>
        <p>{{post?.date}}</p>
        <div class="banner-block">
            <div class="main-slide-animation non-draggable-image" *ngFor="let banner of post?.image;let i=index" [ngStyle]="{display:!isCurrentSlideIndex(i) }">

                <img class="post-img" [src]="'/assets'+banner" alt="{{post?.title}}">
                <div *ngIf="post?.image.length>1" class="gallery-controller">
                    <p class="next" (click)="nextSlide()"> >> </p>
                    <p class="prev" (click)="prevSlide()"> << </p>
                </div>
            </div>
        </div>

        <!-- <img data-ng-if="post.image" class="post-img" data-ng-src="{{post.image}}"-->
        <div [innerHTML]="post?.description"></div>

        <div class="tag-cloud" *ngIf="post?.meta_tags">
            <p>Tags Cloud</p>
            <h3 *ngFor="let item of post?.meta_tags">{{item}}</h3>
        </div>
        <disqus [shortname]="shortname" [identifier]="identifier" *ngIf="identifier"></disqus>
        <!--<div id="disqus_thread"></div>-->
        <!--<script>
           /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
           /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
           <!--(funct {  // DON'T EDIT BELOW THIS LINE
               var d = document, s = d.createElement('script');

               s.src = 'https://alisch.disqus.com/embed.js';

               s.setAttribute('data-timestamp', +new Date());
               (d.head || d.body).appendChild(s);
           })();
       </script>
       <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>-->

    </div>
</div>
